@font-face{
    font-family: 'Slight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Snormal';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Normal/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SBold';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Bold/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}



.clear {
    clear: both;
}

html {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 1200px;
   font-family: 'SBold';
}

.page_bg{width: 100%; height: 100%; position: absolute; background: red; z-index: 0;}

.page{position: relative; z-index:1; width: 100%; height: 100%; background: rgba(20,65,97, 1);}
.logo_start{float:left; margin-top: 50px; margin-left: 50px;}
.start_l{width: 200px; display:block;}
.nav_menu{float:right; margin-right:90px; margin-top:65px;}
.nav_menu ul{padding: 0!important; margin: 0 !important;}
.nav_menu ul li{display: inline-block; margin-left: 50px; text-transform: uppercase; color:#fff;}
.nav_menu ul li a{text-decoration: none; color:#fff;  }

.hello{position: absolute; width: 900px; text-align: center;  top:50%; left: 50%; margin-left: -450px; margin-top: -50px; font-size: 22px; color:#fff; font-family: 'Snormal';}
.hello span{line-height: 30px;}
.start_hello{font-size: 50px; color:#fff; margin-bottom: 20px;  font-family: 'Slight';}

.bottom{position: absolute; width: 100%; height: 70px; bottom:0; border-top:0px solid #154567;}
.left{float:left; margin-left: 50px; color:#5b809b;  }
.right{float:right; margin-right: 30px; color:#5b809b;}
.line70{line-height:70px;  font-size: 12px;}






/*=======Other pages=======*/
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
  min-width: 1000px;
}
 
.push {
  height: 50px;
}

.footer{height: 50px; border-top:1px solid #eee;}
.line50{line-height:50px; float:right;  font-size: 12px; color:#5c6165; margin-right: 60px!important;}

.top_static{width: 100%; height: 60px; border-bottom:1px solid #eee;}
.top_logo{float:left;}

.static_l{height: 30px; display:block; margin-top: 15px; margin-left: 50px;}
.nav_static{float:right; margin-right: 70px; line-height: 60px;}


.nav_static ul{padding: 0!important; margin: 0 !important;}
.nav_static ul li{display: inline-block; margin-left: 50px; text-transform: uppercase; }
.nav_static ul li a{text-decoration: none; color:#144161; font-size: 14px; }

.static_content{ width: 1000px; margin: 0 auto;}
.static_header{margin-top: 100px; font-family: 'Slight'; font-size: 70px; letter-spacing: -2px; color:#f2095c; margin-bottom: 30px;}
.static_text{font-family: 'Snormal'; font-size: 18px; line-height: 24px; width: 750px; color:#7b7f84;}


/*======Contact========*/
.contact_box{font-family: 'Snormal'; font-size: 18px; line-height: 24px; color:#7b7f84;}
.cont_1{float:left; width: 500px; border-right:1px solid #eee;  }
.cont_2{float:left; padding-left: 120px;}

/*======Works=======*/
.parent_works{margin: 0 auto; width: 100%;}
.work_item{width: 33.33333%; height: 33.333333%; float:left; background: gray;}


.element{
	position:relative;
	background:#fff;
	border:0px solid #999;
	margin-bottom:0px;
	width:33.33%;
	min-height: 350px;
	float:left;
	
	box-sizing:border-box;
	
}

.inel{position: absolute; bottom: 10%;}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 0px solid #ccc;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
	min-height: 350px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background:#fff url('../images/test2.jpg') 50% 50% no-repeat ;
	background-size: cover;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #fff;
	color:#ff2250;
}



.workheader{padding: 50px 0 50px 50px; text-align: center; text-transform: uppercase; font-family: 'Lato'; font-size: 40px; color:#555; font-weight: 300; background: #fff;}





